//colors
$main-color: #1890ff;
$heading-color: rgba(0, 0, 0, 0.85);
$text-color: rgba(0, 0, 0, 0.75);
$text-color-secondary: rgba(0, 0, 0, 0.5);
$disabled-color: rgba(0, 0, 0, 0.35);
$background-color: #ebeef3;
$success-color: #52c41a;
$error-color: #f5222d;

//Fonts
$default-font: 'Inter', 'Arial', sans-serif;
$secondary-font: 'Roboto', 'Arial', sans-serif;
