.like {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.likeHeart {
  background-color: inherit;
  border: none;
  padding: 0;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.likeHeart img {
  margin: 0 0 10px 0;
}
